.dark-background {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 160%;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  width: 60rem;
  height: 50rem;
  background-image: url('../imgs/pokedex-fondo.png');
  background-position: center;
  background-size: cover;
  color: white;
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  position: relative;
}

.modal-content{
  padding: 10px;
  font-size: 14px;
  color: #2c3e50;
  text-align: center;
}

.close-btn {
  cursor: pointer;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  color: #2c3e50;
  background: white;
  transition: all 0.25s ease;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
  position: absolute;
  right: 1rem;
  top: 1rem;
  align-self: flex-end;
  margin-top: -7px;
  margin-right: -7px;
}

.close-btn:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  transform: translate(-4px, 4px);
}
