main {
  display: grid;
  grid-template-areas: "header header"
                       "sidebar sidebar"
                       "main main";
  grid-template-columns: 11rem 1fr;         
  grid-template-rows: 10rem 2fr;             
}

.header-container {
  grid-area: header;
}

.sidebar-container {
  grid-area: sidebar;
  padding: 2rem 0;
  display: flex;
  margin-bottom: 1rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #333C4D;
}

.pokemon-container {
  grid-area: main;
  background-color: #DEE3EA;
}